// @use "layout";
@use "Game";
@use "Home";
@use "Profile";
@use "TimeContainer";
@use "Games";
@use "Variables" as variables;

html {
	// set height to 100% so that body can use 100% of screen height
	height: 100%;
	background-color: rgb(38, 38, 38);
	color: rgb(214, 214, 214);
	// background-image: radial-gradient(
	// 	circle,
	// 	variables.$background-gradient,
	// 	variables.$background
	// );
}

body {
	// set margin to zero so that layout can take up the whole screen
	margin: 0;
	// set height to 100% so that layout can use 100% of screen height
	height: 100%;
}

#root {
	margin: 0;
	height: 100%;
}

.layout {
	// set height to 100% so that layout takes up the entire screen
	height: 100%;
	// background-color: rgb(65, 65, 65);
	// row one is for the banner, row two is for the page content
	display: grid;
	grid-template-rows: 75fr 925fr;
}

.banner {
	background-color: rgb(29, 29, 29);
	margin: 0;
	display: inline-flex;
	// border-top: 0;
	// border-left: 0;
	// border-right: 0;
	// border-bottom: $borderWidth;
	// border-style: solid;
	// border-color: rgb(66, 66, 81);
}

.button {
	background-color: rgb(29, 29, 29);
	color: rgb(214, 214, 214);
	font-size: 200%;
	font-weight: bold;
	border-width: 0;
	padding: 0.5vw;
	margin: 0;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

// $purple: rgb(81, 32, 100);
// $lightPurple: rgb(136, 68, 163);
// $clockBorderWidth: 4px;
// $desktopDisplayBreakpoint: 1327px;
// $tabletDisplayBreakpoint: 554px;

// .banner {
// 	background-color: $lightPurple;
// 	// min-height: 3em;
// }
