@use "layout";
@use "Game";

$purple: rgb(81, 32, 100);
$lightPurple: rgb(136, 68, 163);
$clockBorderWidth: 4px;
$desktopDisplayBreakpoint: 1327px;
$tabletDisplayBreakpoint: 554px;

.banner {
	background-color: $lightPurple;
	// min-height: 3em;
}
