// TODO LIST
// ✅ change clock to match history
// ✅ change history to be wider in mobile layout
// ✅ move over to react
// ✅ add selected squares etc.
// ✅ fix history
// ❌ add promotion menu

@use "Variables" as variables;

.black {
	.a1 {
		grid-area: cell-18;
	}
	.b1 {
		grid-area: cell-17;
	}
	.c1 {
		grid-area: cell-16;
	}
	.d1 {
		grid-area: cell-15;
	}
	.e1 {
		grid-area: cell-14;
	}
	.f1 {
		grid-area: cell-13;
	}
	.g1 {
		grid-area: cell-12;
	}
	.h1 {
		grid-area: cell-11;
	}

	.a2 {
		grid-area: cell-28;
	}
	.b2 {
		grid-area: cell-27;
	}
	.c2 {
		grid-area: cell-26;
	}
	.d2 {
		grid-area: cell-25;
	}
	.e2 {
		grid-area: cell-24;
	}
	.f2 {
		grid-area: cell-23;
	}
	.g2 {
		grid-area: cell-22;
	}
	.h2 {
		grid-area: cell-21;
	}

	.a3 {
		grid-area: cell-38;
	}
	.b3 {
		grid-area: cell-37;
	}
	.c3 {
		grid-area: cell-36;
	}
	.d3 {
		grid-area: cell-35;
	}
	.e3 {
		grid-area: cell-34;
	}
	.f3 {
		grid-area: cell-33;
	}
	.g3 {
		grid-area: cell-32;
	}
	.h3 {
		grid-area: cell-31;
	}

	.a4 {
		grid-area: cell-48;
	}
	.b4 {
		grid-area: cell-47;
	}
	.c4 {
		grid-area: cell-46;
	}
	.d4 {
		grid-area: cell-45;
	}
	.e4 {
		grid-area: cell-44;
	}
	.f4 {
		grid-area: cell-43;
	}
	.g4 {
		grid-area: cell-42;
	}
	.h4 {
		grid-area: cell-41;
	}

	.a5 {
		grid-area: cell-58;
	}
	.b5 {
		grid-area: cell-57;
	}
	.c5 {
		grid-area: cell-56;
	}
	.d5 {
		grid-area: cell-55;
	}
	.e5 {
		grid-area: cell-54;
	}
	.f5 {
		grid-area: cell-53;
	}
	.g5 {
		grid-area: cell-52;
	}
	.h5 {
		grid-area: cell-51;
	}

	.a6 {
		grid-area: cell-68;
	}
	.b6 {
		grid-area: cell-67;
	}
	.c6 {
		grid-area: cell-66;
	}
	.d6 {
		grid-area: cell-65;
	}
	.e6 {
		grid-area: cell-64;
	}
	.f6 {
		grid-area: cell-63;
	}
	.g6 {
		grid-area: cell-62;
	}
	.h6 {
		grid-area: cell-61;
	}

	.a7 {
		grid-area: cell-78;
	}
	.b7 {
		grid-area: cell-77;
	}
	.c7 {
		grid-area: cell-76;
	}
	.d7 {
		grid-area: cell-75;
	}
	.e7 {
		grid-area: cell-74;
	}
	.f7 {
		grid-area: cell-73;
	}
	.g7 {
		grid-area: cell-72;
	}
	.h7 {
		grid-area: cell-71;
	}

	.square.a8 {
		grid-area: cell-88;
	}
	.b8 {
		grid-area: cell-87;
	}
	.c8 {
		grid-area: cell-86;
	}
	.d8 {
		grid-area: cell-85;
	}
	.e8 {
		grid-area: cell-84;
	}
	.f8 {
		grid-area: cell-83;
	}
	.g8 {
		grid-area: cell-82;
	}
	.h8 {
		grid-area: cell-81;
	}
}

$borderWidth: 0.2vw;
$borderRadius: 0.8vw;

.button:hover {
	background-color: rgb(45, 45, 45);
}

.button:active {
	background-color: rgb(51, 51, 51);
}

.board-panel {
	display: flex;
	flex-direction: column;
	// lines 32-33 center panel content
	justify-content: center;
	align-items: center;
}

.board {
	display: grid;
	// give the grid 8 equally sized columns
	grid-template-columns: repeat(8, 1fr);
	// make the board use all of the availible space (otherwise it won't show up)
	grid-template-areas:
		"cell-11 cell-12 cell-13 cell-14 cell-15 cell-16 cell-17 cell-18"
		"cell-21 cell-22 cell-23 cell-24 cell-25 cell-26 cell-27 cell-28"
		"cell-31 cell-32 cell-33 cell-34 cell-35 cell-36 cell-37 cell-38"
		"cell-41 cell-42 cell-43 cell-44 cell-45 cell-46 cell-47 cell-48"
		"cell-51 cell-52 cell-53 cell-54 cell-55 cell-56 cell-57 cell-58"
		"cell-61 cell-62 cell-63 cell-64 cell-65 cell-66 cell-67 cell-68"
		"cell-71 cell-72 cell-73 cell-74 cell-75 cell-76 cell-77 cell-78"
		"cell-81 cell-82 cell-83 cell-84 cell-85 cell-86 cell-87 cell-88";
	// set the cell locations for the board
	width: 100%;
	// set max width
	max-width: 380vw;
}

.square {
	// set background image
	background-image: url("../images/darkSquares.png");
	// set padding (otherwise it won't show up)
	padding-top: 100%;
	position: relative; // TODO: relook at whether this needs to be here
}

// set every other square to white
.square:nth-of-type(16n + 1),
.square:nth-of-type(16n + 3),
.square:nth-of-type(16n + 5),
.square:nth-of-type(16n + 7),
.square:nth-of-type(16n + 10),
.square:nth-of-type(16n + 12),
.square:nth-of-type(16n + 14),
.square:nth-of-type(16n + 16) {
	background-image: url("../images/lightSquares.png");
}

.square.selected {
	background-image: url("../images/darkSquareSelected.png");
	cursor: pointer;
}

.square.selected:nth-of-type(16n + 1),
.square.selected:nth-of-type(16n + 3),
.square.selected:nth-of-type(16n + 5),
.square.selected:nth-of-type(16n + 7),
.square.selected:nth-of-type(16n + 10),
.square.selected:nth-of-type(16n + 12),
.square.selected:nth-of-type(16n + 14),
.square.selected:nth-of-type(16n + 16) {
	background-image: url("../images/lightSquareSelected.png");
}

.square.move-option {
	background-image: url("../images/darkSquareMoves.png");
	cursor: pointer; // option
}

.square.move-option:nth-of-type(16n + 1),
.square.move-option:nth-of-type(16n + 3),
.square.move-option:nth-of-type(16n + 5),
.square.move-option:nth-of-type(16n + 7),
.square.move-option:nth-of-type(16n + 10),
.square.move-option:nth-of-type(16n + 12),
.square.move-option:nth-of-type(16n + 14),
.square.move-option:nth-of-type(16n + 16) {
	background-image: url("../images/lightSquareMoves.png");
	cursor: pointer; // option
}

@font-face {
	// Font from: https://www.dafont.com/g7-segment7-s5.font?fpp=200&l[]=10&l[]=1&text=12%3A34%3A56%3A78%3A90
	font-family: "G7 Segment7 S5";
	src: url("../G7Segment7S5.woff2") format("woff2"),
		url("../G7Segment7S5.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.clock {
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	font-family: "G7 Segment7 S5";
	font-weight: normal;
	font-style: normal;
	font-size: 8vw;
	border-width: calc($borderWidth/2);
	border-color: rgb(52, 52, 52);
	border-style: solid;
	width: 38vw;
	text-align: center;
	cursor: default;
}
.clock div {
	margin: 0.2vw;
}

.clock-active {
	background-color: rgb(68, 68, 68);
	border-width: calc($borderWidth/2);
	border-color: rgb(68, 68, 68);
	border-style: solid;
	border-radius: $borderRadius;
}

.history-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.history-panel-item {
	border-radius: 0.8vw;
	&.history {
		overflow-y: scroll;
		max-height: 20vw;
	}
}

::-webkit-scrollbar {
	width: 1vw;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(74, 74, 74);
}

.move-number {
	font-weight: bold;
}

// result
// .history-panel-item:not(:last-of-type) {
.history-panel-item:first-of-type {
	border-top-left-radius: 0.8vw;
	border-top-right-radius: 0.8vw;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

// history
// .history-panel-item:not(:first-of-type) {
.history-panel-item:nth-of-type(2) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.history-panel-item:last-of-type {
	border-bottom-left-radius: 0.8vw;
	border-bottom-right-radius: 0.8vw;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.arrows {
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.arrow-button {
	background-color: variables.$arrow-button;
	// background-color: variables.$banner;
	border-width: 0.2vw;
	border-color: variables.$arrow-button;
	border-style: solid;
	border-radius: 0.3vw;
	margin: 0.2vw;
	padding-left: 0.8vw;
	padding-right: 0.8vw;
	color: variables.$text;
	cursor: pointer;
	font-size: 1.4vw;
}

.arrow-button:hover {
	background-color: variables.$arrow-button-hover;
	border-color: variables.$arrow-button-hover;
}

.arrow-button:active {
	background-color: variables.$arrow-button-active;
	border-color: variables.$arrow-button-active;
}

.result {
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.history {
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	flex-wrap: wrap;
	cursor: default;
}

// .result-old {
// 	background-color: rgb(46, 46, 56);
// 	color: rgb(214, 214, 214);
// 	padding: 0.3vw;
// 	border-color: rgb(66, 66, 81);
// 	border-width: $borderWidth;
// 	border-radius: $borderRadius;
// 	border-color: rgb(66, 66, 81);
// 	border-style: solid;
// 	border-bottom: 0;
// 	border-bottom-left-radius: 0;
// 	border-bottom-right-radius: 0;
// 	margin: 0;
// 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
// 		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
// 		"Helvetica Neue", sans-serif;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// 	font-size: 1.5vw;
// 	margin-right: 0;
// 	width: 20vw;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// .history-old {
// 	background-color: rgb(46, 46, 56);
// 	color: rgb(214, 214, 214);
// 	padding: 0.3vw;
// 	border-color: rgb(66, 66, 81);
// 	border-width: $borderWidth;
// 	border-radius: $borderRadius;
// 	border-color: rgb(66, 66, 81);
// 	border-style: solid;
// 	margin: 0;
// 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
// 		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
// 		"Helvetica Neue", sans-serif;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// 	font-size: 1.5vw;
// 	margin-right: 0;
// 	width: 20vw;
// 	display: flex;
// 	flex-wrap: wrap;
// }

.history-item {
	margin: 0.2em;
	display: block;

	span:not(.move-number) {
		cursor: pointer;
		&:hover {
			background-color: rgb(68, 68, 68);
		}
		&:active {
			background-color: rgb(74, 74, 74);
		}
	}
}

.selected-history-item {
	text-decoration: underline;
}

// mobile layout
@media (max-aspect-ratio: 7/6) {
	.content {
		background-color: rgb(38, 38, 38);
	}
	.clock-panel {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.clock {
		margin-bottom: 2vw;
		margin-top: 2vw;
		border-width: $borderWidth;
	}
	.clock:not(:last-of-type) {
		border-top-left-radius: $borderRadius;
		border-bottom-left-radius: $borderRadius;
	}

	.clock:not(:first-of-type) {
		border-left-width: 0;
		border-top-right-radius: $borderRadius;
		border-bottom-right-radius: $borderRadius;
	}
	.arrows {
		width: 80%;
		font-size: 150%;
	}
	.result {
		width: 80%;
		margin-top: 4vw;
		font-size: 200%;
	}
	.history {
		width: 80%;
		font-size: 150%;
	}
	.history-panel-item:first-of-type {
		margin-top: 2vw;
	}
	.arrow-button {
		border-width: 0.4vw;
		border-radius: 0.6vw;
		margin: 1vw;
		padding-left: 2.5vw;
		padding-right: 2.5vw;
		font-size: 8vw;
	}
}

// desktop layout
@media (min-aspect-ratio: 7/6) {
	.content {
		// background-color: darkorchid;
		// background-color: rgb(46, 46, 56);
		background-color: rgb(38, 38, 38);
		display: grid;
		grid-template-columns: 2fr 3fr 2fr;
		// height: 92.5%;
		// background-image: radial-gradient(
		// 	circle,
		// 	variables.$background-gradient,
		// 	variables.$background
		// );
	}

	.clock-panel {
		padding-top: 0;
		padding-bottom: 0;
		flex-direction: column;
		display: flex;
		// flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.clock {
		font-size: 4vw;
		border-width: $borderWidth;
		width: 20vw;
	}

	.clock:not(:last-of-type) {
		border-bottom-width: calc($borderWidth/2);
		border-top-left-radius: 0.8vw;
		border-top-right-radius: 0.8vw;
	}

	.clock:not(:first-of-type) {
		border-left-width: $borderWidth;
		border-top-width: calc($borderWidth/2);
		border-bottom-left-radius: 0.8vw;
		border-bottom-right-radius: 0.8vw;
	}
}

.piece {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.black-rook {
	content: url("../images/blackRook.png");
}

.black-knight {
	content: url("../images/blackKnight.png");
}

.black-bishop {
	content: url("../images/blackBishop.png");
}

.black-queen {
	content: url("../images/blackQueen.png");
}

.black-king {
	content: url("../images/blackKing.png");
}

.black-pawn {
	content: url("../images/blackPawn.png");
}

.white-rook {
	content: url("../images/whiteRook.png");
}

.white-knight {
	content: url("../images/whiteKnight.png");
}

.white-bishop {
	content: url("../images/whiteBishop.png");
}

.white-queen {
	content: url("../images/whiteQueen.png");
}

.white-king {
	content: url("../images/whiteKing.png");
}

.white-pawn {
	content: url("../images/whitePawn.png");
}
