@use "Variables" as variables;

html {
	// set height to 100% so that body can use 100% of screen height
	height: 100%;
	background-color: rgb(38, 38, 38);
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-actions {
	padding-inline-start: 0;
}

.home-actions > li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-button {
	// colours
	background-color: variables.$banner-button-hover;
	color: variables.$text;

	// border and shadow
	border-color: variables.$banner-button-hover;
	border-width: 0.2vw;
	border-style: solid;
	border-radius: 0.3vw;
	box-shadow: 0 0.25vw variables.$banner;

	cursor: pointer;

	// text
	font-size: 1.2vw;
	font-weight: bold;
	text-decoration: none;

	// size and spacing
	margin: 1vw;
	width: 10vw;
	height: 2vw;

	// centre text
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-button:hover {
	background-color: variables.$banner-button-active;
	border-color: variables.$banner-button-active;
}

.home-button:active,
.home-button:focus {
	background-color: variables.$profile-button-active;
	border-color: variables.$profile-button-active;
	box-shadow: 0 0.15vw variables.$banner;
}

// mobile layout
@media (max-aspect-ratio: 7/6) {
	.home-button {
		// border and shadow
		border-width: 1vw;
		border-radius: 1.5vw;
		box-shadow: 0 1.25vw variables.$banner;

		// text
		font-size: 6vw;

		// size and spacing
		margin: 5vw;
		width: 50vw;
		height: 10vw;
	}

	.home-button:active,
	.home-button:focus {
		box-shadow: 0 0.75vw variables.$banner;
	}
}
