html {
	// set height to 100% so that body can use 100% of screen height
	height: 100%;
	background-color: rgb(38, 38, 38);
	// background-color: red;
}

// body {
// 	// set margin to zero so that layout can take up the whole screen
// 	margin: 0;
// 	// set height to 100% so that layout can use 100% of screen height
// 	height: 100%;
// 	font-size: 1.5vw;
// }

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-actions {
	padding-inline-start: 0;
}

.home-actions > li {
	list-style-type: none;
	padding: 1em;
	width: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
}
