@use "Variables" as variables;

.profile-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "left content right";
	background-image: radial-gradient(
		circle,
		variables.$background-gradient,
		variables.$background
	);
}

.profile-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-area: content;
	background-color: variables.$background;
}

.profile-field-info {
	background-color: variables.$banner;
	border-width: 0.3vw;
	border-color: variables.$banner;
	border-style: solid;
	border-radius: 0.45vw;
	margin: 0.3vw;
	padding: 0.15vw;
	cursor: default;
	font-size: 1vw;
	color: variables.$text;
}

.profile-field {
	background-color: variables.$banner;
	border-width: 0.3vw;
	border-color: variables.$banner;
	border-style: solid;
	border-radius: 0.45vw;
	margin: 0.3vw;
	padding: 0.15vw;
	cursor: cursor;
	font-size: 1vw;
	color: variables.$text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.profile-button {
	background-color: variables.$banner-button-hover;
	border-width: 0.3vw;
	border-color: variables.$banner-button-hover;
	border-style: solid;
	border-radius: 0.45vw;
	margin: 0.3vw;
	color: variables.$text;
	cursor: pointer;
	font-size: 1vw;
	box-shadow: 0 0.375vw variables.$banner;
}

.profile-button:hover {
	background-color: variables.$banner-button-active;
	border-color: variables.$banner-button-active;
}

.profile-button:active,
.profile-button:focus {
	background-color: variables.$profile-button-active;
	border-color: variables.$profile-button-active;
	box-shadow: 0 0.15vw variables.$banner;
}

.input-text {
	font-weight: 500;
}

.input-text-red {
	color: variables.$red-text;
	font-style: italic;
}

.error-message {
	color: red;
	font-size: xx-large;
}

// mobile layout
@media (max-aspect-ratio: 7/6) {
	.profile-container {
		grid-template-columns: 0fr 1fr 0fr;
	}

	.profile-field-info {
		border-width: 1.5vw;
		border-radius: 2.25vw;
		margin: 1.5vw;
		padding: 0.75vw;
		font-size: 6vw;
	}

	.profile-field {
		border-width: 1.5vw;
		border-radius: 2.25vw;
		margin: 1.5vw;
		padding: 0.75vw;
		font-size: 6vw;
	}

	.profile-button {
		border-width: 1.5vw;
		border-radius: 2.25vw;
		margin: 1.5vw;
		font-size: 6vw;
		box-shadow: 0 1.875vw variables.$banner;
	}

	.profile-button:active,
	.profile-button:focus {
		box-shadow: 0 1.125vw variables.$banner;
	}
}

.header {
	font-size: 1.5vw;
	margin-top: 1vw;
}

.slider-container {
	margin: 1vw;
}

.slider {
	font-size: 1vw;
	color: variables.$text;
	background-color: variables.$banner;
	border: solid;
	border-width: 0.5vw;
	border-color: variables.$banner;
	cursor: pointer;
}
.slider-start {
	border-top-left-radius: 0.45vw;
	border-bottom-left-radius: 0.45vw;
}
.slider-end {
	border-top-right-radius: 0.45vw;
	border-bottom-right-radius: 0.45vw;
}
.slider-selected {
	background-color: variables.$banner-button-active;
	border-color: variables.$banner-button-active;
}
.slider:disabled,
.disabled {
	cursor: not-allowed;
	background-color: variables.$banner;
	border-color: variables.$banner;
	color: variables.$text-muted;
}
