@use "Variables" as variables;

.time-input-container {
	display: flex;
	align-items: center;
}

.time-input-box {
	display: flex;
	align-items: center;
	// width: 30vw;
	input {
		width: 2em;
	}
}

.time-input-segment {
	background-color: variables.$banner;
	border-width: 0.2vw;
	border-color: variables.$banner;
	border-style: solid;
	border-radius: 0.3vw;
	margin: 0.2vw;
	padding: 0.1vw;
	cursor: cursor;
	font-size: 1.2vw;
	color: variables.$text;
}

.invalid-time {
	border-color: variables.$red-text;
}

.colon {
	font-size: 2vw;
}

// mobile layout
@media (max-aspect-ratio: 7/6) {
	.time-input-box {
		input {
			width: 2em;
		}
	}

	.time-input-segment {
		border-width: 1.5vw;
		border-radius: 2.25vw;
		margin: 1.5vw;
		padding: 0.1vw;
		font-size: 6vw;
	}

	.colon {
		font-size: 10vw;
	}
}
