// background
$background: rgb(38, 38, 38);
$background-gradient: rgb(57, 57, 57);

// banner
$banner: rgb(29, 29, 29);

// banner and profile buttons
$banner-button-hover: rgb(45, 45, 45);
$banner-button-active: rgb(51, 51, 51);
$profile-button-active: rgb(57, 57, 57);

// history and result
$history: rgb(52, 52, 52);
$history-item-hover: rgb(68, 68, 68);
$history-item-active: rgb(74, 74, 74);

// clock
$clock: rgb(52, 52, 52);
$clock-active: rgb(68, 68, 68);

// text
$text: rgb(214, 214, 214);
