// TODO LIST
// ✅ change clock to match history
// ✅ change history to be wider in mobile layout
// ✅ move over to react
// ✅ add selected squares etc.
// ✅ fix history
// ❌ add promotion menu

$borderWidth: 0.2vw;
$borderRadius: 0.8vw;

html {
	// set height to 100% so that body can use 100% of screen height
	height: 100%;
	background-color: rgb(38, 38, 38);
}

body {
	// set margin to zero so that layout can take up the whole screen
	margin: 0;
	// set height to 100% so that layout can use 100% of screen height
	height: 100%;
}

#root {
	margin: 0;
	height: 100%;
}

.layout {
	// set height to 100% so that layout takes up the entire screen
	height: 100%;
	background-color: rgb(65, 65, 65);
	// row one is for the banner, row two is for the page content
	display: grid;
	grid-template-rows: 75fr 925fr;
}

.banner {
	background-color: rgb(29, 29, 29);
	margin: 0;
	// border-top: 0;
	// border-left: 0;
	// border-right: 0;
	// border-bottom: $borderWidth;
	// border-style: solid;
	// border-color: rgb(66, 66, 81);
}

.button {
	background-color: rgb(29, 29, 29);
	color: rgb(214, 214, 214);
	font-size: 200%;
	font-weight: bold;
	// border-top: 0;
	// border-left: 0;
	// border-right: 0;
	// border-width: $borderWidth;
	border-width: 0;
	// border-style: solid;
	// border-radius: $borderRadius;
	// border-color: rgb(66, 66, 81);
	padding: 0.5vw;
	height: 100%;
	// margin: 0.5vw;
	margin: 0;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(45, 45, 45);
}

.button:active {
	background-color: rgb(51, 51, 51);
}

.board-panel {
	display: flex;
	flex-direction: column;
	// lines 32-33 center panel content
	justify-content: center;
	align-items: center;
}

.board {
	display: grid;
	// give the grid 8 equally sized columns
	grid-template-columns: repeat(8, 1fr);
	// make the board use all of the availible space (otherwise it won't show up)
	width: 100%;
	// set max width
	max-width: 380vw;
}

.square {
	// set background image
	background-image: url("../images/darkSquares.png");
	// set padding (otherwise it won't show up)
	padding-top: 100%;
	position: relative; // TODO: relook at whether this needs to be here
}

// set every other square to white
.square:nth-of-type(16n + 1),
.square:nth-of-type(16n + 3),
.square:nth-of-type(16n + 5),
.square:nth-of-type(16n + 7),
.square:nth-of-type(16n + 10),
.square:nth-of-type(16n + 12),
.square:nth-of-type(16n + 14),
.square:nth-of-type(16n + 16) {
	background-image: url("../images/lightSquares.png");
}

.square.selected {
	background-image: url("../images/darkSquareSelected.png");
	cursor: pointer;
}

.square.selected:nth-of-type(16n + 1),
.square.selected:nth-of-type(16n + 3),
.square.selected:nth-of-type(16n + 5),
.square.selected:nth-of-type(16n + 7),
.square.selected:nth-of-type(16n + 10),
.square.selected:nth-of-type(16n + 12),
.square.selected:nth-of-type(16n + 14),
.square.selected:nth-of-type(16n + 16) {
	background-image: url("../images/lightSquareSelected.png");
}

.square.move-option {
	background-image: url("../images/darkSquareMoves.png");
	cursor: pointer; // option
}

.square.move-option:nth-of-type(16n + 1),
.square.move-option:nth-of-type(16n + 3),
.square.move-option:nth-of-type(16n + 5),
.square.move-option:nth-of-type(16n + 7),
.square.move-option:nth-of-type(16n + 10),
.square.move-option:nth-of-type(16n + 12),
.square.move-option:nth-of-type(16n + 14),
.square.move-option:nth-of-type(16n + 16) {
	background-image: url("../images/lightSquareMoves.png");
	cursor: pointer; // option
}

@font-face {
	// Font from: https://www.dafont.com/g7-segment7-s5.font?fpp=200&l[]=10&l[]=1&text=12%3A34%3A56%3A78%3A90
	font-family: "G7 Segment7 S5";
	src: url("../G7Segment7S5.woff2") format("woff2"),
		url("../G7Segment7S5.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.clock {
	// background-color: rgb(108, 108, 108);
	// background-color: rgb(66, 66, 81);
	// background-color: rgb(46, 46, 56);
	// color: rgb(214, 214, 214);
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	font-family: "G7 Segment7 S5";
	font-weight: normal;
	font-style: normal;
	font-size: 8vw;
	border-width: calc($borderWidth/2);
	// border-color: rgb(66, 66, 81);
	border-color: rgb(52, 52, 52);
	border-style: solid;
	width: 38vw;
	text-align: center;
	cursor: default;
}
.clock div {
	margin: 0.2vw;
}

.clock-active {
	background-color: rgb(68, 68, 68);
	border-width: calc($borderWidth/2);
	border-color: rgb(68, 68, 68);
	border-style: solid;
	border-radius: $borderRadius;
}

.history-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.history-panel-item {
	border-radius: 0.8vw;
}

// result
.history-panel-item:not(:last-of-type) {
	border-top-left-radius: 0.8vw;
	border-top-right-radius: 0.8vw;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

// history
.history-panel-item:not(:first-of-type) {
	border-bottom-left-radius: 0.8vw;
	border-bottom-right-radius: 0.8vw;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.result-old {
	background-color: rgb(46, 46, 56);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	border-color: rgb(66, 66, 81);
	border-width: $borderWidth;
	border-radius: $borderRadius;
	border-color: rgb(66, 66, 81);
	border-style: solid;
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.history-old {
	background-color: rgb(46, 46, 56);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	border-color: rgb(66, 66, 81);
	border-width: $borderWidth;
	border-radius: $borderRadius;
	border-color: rgb(66, 66, 81);
	border-style: solid;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	flex-wrap: wrap;
}

.result {
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.history {
	background-color: rgb(52, 52, 52);
	color: rgb(214, 214, 214);
	padding: 0.3vw;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5vw;
	margin-right: 0;
	width: 20vw;
	display: flex;
	flex-wrap: wrap;
	cursor: default;
}

.history-item {
	margin: 0.2em;
	span {
		cursor: pointer;
	}
	display: block;
}

.history-item span:hover {
	background-color: rgb(68, 68, 68);
}

.history-item span:active {
	background-color: rgb(74, 74, 74);
}

.selected-history-item {
	text-decoration: underline;
}

// .content {
// 	background-color: darkorchid;
// 	display: grid;
// 	grid-template-columns: 2fr 3fr 2fr;
// 	height: 92.5%;
// }

// mobile layout
@media (max-aspect-ratio: 7/6) {
	.content {
		// TODO: add in page content and work out it will look
		background-color: rgb(38, 38, 38);
	}
	.clock-panel {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.clock {
		margin-bottom: 2vw;
		margin-top: 2vw;
		border-width: $borderWidth;
	}
	.clock:not(:last-of-type) {
		border-top-left-radius: $borderRadius;
		border-bottom-left-radius: $borderRadius;
	}

	.clock:not(:first-of-type) {
		border-left-width: 0;
		border-top-right-radius: $borderRadius;
		border-bottom-right-radius: $borderRadius;
	}
	.result {
		width: 80%;
		margin-top: 4vw;
		font-size: 200%;
	}
	.history {
		width: 80%;
		font-size: 150%;
	}
}

// desktop layout
@media (min-aspect-ratio: 7/6) {
	.content {
		// background-color: darkorchid;
		// background-color: rgb(46, 46, 56);
		background-color: rgb(38, 38, 38);
		display: grid;
		grid-template-columns: 2fr 3fr 2fr;
		// height: 92.5%;
	}

	.clock-panel {
		padding-top: 0;
		padding-bottom: 0;
		flex-direction: column;
		display: flex;
		// flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.clock {
		font-size: 4vw;
		border-width: $borderWidth;
		width: 20vw;
	}

	.clock:not(:last-of-type) {
		border-bottom-width: calc($borderWidth/2);
		border-top-left-radius: 0.8vw;
		border-top-right-radius: 0.8vw;
	}

	.clock:not(:first-of-type) {
		border-left-width: $borderWidth;
		border-top-width: calc($borderWidth/2);
		border-bottom-left-radius: 0.8vw;
		border-bottom-right-radius: 0.8vw;
	}
}

.piece {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.black-rook {
	content: url("../images/blackRook.png");
}

.black-knight {
	content: url("../images/blackKnight.png");
}

.black-bishop {
	content: url("../images/blackBishop.png");
}

.black-queen {
	content: url("../images/blackQueen.png");
}

.black-king {
	content: url("../images/blackKing.png");
}

.black-pawn {
	content: url("../images/blackPawn.png");
}

.white-rook {
	content: url("../images/whiteRook.png");
}

.white-knight {
	content: url("../images/whiteKnight.png");
}

.white-bishop {
	content: url("../images/whiteBishop.png");
}

.white-queen {
	content: url("../images/whiteQueen.png");
}

.white-king {
	content: url("../images/whiteKing.png");
}

.white-pawn {
	content: url("../images/whitePawn.png");
}
