html {
  height: 100%;
  background-color: rgb(38, 38, 38);
}

body {
  margin: 0;
  height: 100%;
}

.layout {
  height: 100%;
  background-color: rgb(65, 65, 65);
  display: grid;
  grid-template-rows: 75fr 925fr;
}

.banner {
  background-color: rgb(29, 29, 29);
  margin: 0;
}

.button {
  background-color: rgb(29, 29, 29);
  color: rgb(214, 214, 214);
  font-size: 200%;
  font-weight: bold;
  border-width: 0;
  padding: 0.5vw;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(45, 45, 45);
}

.button:active {
  background-color: rgb(51, 51, 51);
}

.board-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  max-width: 380vw;
}

.square {
  background-image: url("../web/src/images/darkSquares.png");
  padding-top: 100%;
  position: relative;
}

.square:nth-of-type(16n + 1),
.square:nth-of-type(16n + 3),
.square:nth-of-type(16n + 5),
.square:nth-of-type(16n + 7),
.square:nth-of-type(16n + 10),
.square:nth-of-type(16n + 12),
.square:nth-of-type(16n + 14),
.square:nth-of-type(16n + 16) {
  background-image: url("../web/src/images/lightSquares.png");
}

@font-face {
  font-family: "G7 Segment7 S5";
  src: url("../web/src/G7Segment7S5.woff2") format("woff2"), url("../web/src/G7Segment7S5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.clock {
  background-color: rgb(52, 52, 52);
  color: rgb(214, 214, 214);
  font-family: "G7 Segment7 S5";
  font-weight: normal;
  font-style: normal;
  font-size: 8vw;
  border-width: 0.1vw;
  border-color: rgb(52, 52, 52);
  border-style: solid;
  width: 38vw;
  text-align: center;
  cursor: default;
}

.clock-active {
  background-color: rgb(68, 68, 68);
  border-width: 0.1vw;
  border-color: rgb(68, 68, 68);
  border-style: solid;
  border-radius: 0.8vw;
  margin: 0.3vw;
}

.history-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-panel-item:not(:last-of-type) {
  border-top-left-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
}

.history-panel-item:not(:first-of-type) {
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.result-old {
  background-color: rgb(46, 46, 56);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  border-color: rgb(66, 66, 81);
  border-width: 0.2vw;
  border-radius: 0.8vw;
  border-color: rgb(66, 66, 81);
  border-style: solid;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-old {
  background-color: rgb(46, 46, 56);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  border-color: rgb(66, 66, 81);
  border-width: 0.2vw;
  border-radius: 0.8vw;
  border-color: rgb(66, 66, 81);
  border-style: solid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
}

.result {
  background-color: rgb(52, 52, 52);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.history {
  background-color: rgb(52, 52, 52);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}

.history-item {
  margin: 0.2em;
  display: block;
}
.history-item span {
  cursor: pointer;
}

.history-item span:hover {
  background-color: rgb(68, 68, 68);
}

.history-item span:active {
  background-color: rgb(74, 74, 74);
}

@media (max-aspect-ratio: 7/6) {
  .content {
    background-color: rgb(38, 38, 38);
  }
  .clock-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .clock {
    margin-bottom: 2vw;
    margin-top: 2vw;
    border-width: 0.2vw;
  }
  .clock:not(:last-of-type) {
    border-top-left-radius: 0.8vw;
    border-bottom-left-radius: 0.8vw;
  }
  .clock:not(:first-of-type) {
    border-left-width: 0;
    border-top-right-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
  }
  .result {
    width: 80%;
    margin-top: 4vw;
    font-size: 200%;
  }
  .history {
    width: 80%;
    font-size: 150%;
  }
}
@media (min-aspect-ratio: 7/6) {
  .content {
    background-color: rgb(38, 38, 38);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
  }
  .clock-panel {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clock {
    font-size: 4vw;
    border-width: 0.2vw;
    width: 20vw;
  }
  .clock:not(:last-of-type) {
    border-bottom-width: 0.1vw;
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
  }
  .clock:not(:first-of-type) {
    border-left-width: 0.2vw;
    border-top-width: 0.1vw;
    border-bottom-left-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
  }
}
.piece {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.black-rook {
  content: url("../web/src/images/blackRook.png");
}

.black-knight {
  content: url("../web/src/images/blackKnight.png");
}

.black-bishop {
  content: url("../web/src/images/blackBishop.png");
}

.black-queen {
  content: url("../web/src/images/blackQueen.png");
}

.black-king {
  content: url("../web/src/images/blackKing.png");
}

.black-pawn {
  content: url("../web/src/images/blackPawn.png");
}

.white-rook {
  content: url("../web/src/images/whiteRook.png");
}

.white-knight {
  content: url("../web/src/images/whiteKnight.png");
}

.white-bishop {
  content: url("../web/src/images/whiteBishop.png");
}

.white-queen {
  content: url("../web/src/images/whiteQueen.png");
}

.white-king {
  content: url("../web/src/images/whiteKing.png");
}

.white-pawn {
  content: url("../web/src/images/whitePawn.png");
}/*# sourceMappingURL=styles.css.map */