body {
  background-color: rgb(59, 59, 59);
}

.game {
  display: grid;
  /* TODO: look up CSS grid tutorial */
}

@media (min-width: 768px) {
  .game {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.clock-panel {
  background-color: blue;
  min-height: 3em;
}

.board-panel {
  background-color: red;
}

.history-panel {
  background-color: green;
}

.promotion-button {
  border-width: 5px;
  background-color: rgb(129, 129, 129);
}

.board {
  font-size: 0;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
}

.light-square {
  background-image: url("images/lightSquares.png");
}

.dark-square {
  background-image: url("images/darkSquares.png");
}

.light-square-selected {
  background-image: url("images/lightSquareSelected.png");
}

.dark-square-selected {
  background-image: url("images/darkSquareSelected.png");
}

.light-square-move {
  background-image: url("images/lightSquareMoves.png");
}

.dark-square-move {
  background-image: url("images/darkSquareMoves.png");
}

.square {
  width: 96px;
  height: 96px;
  display: inline-block;
}

.square::after {
  content: " ";
  background-size: 100% 100%;
  width: 96px;
  height: 96px;
  display: inline-block;
}




.black-pawn::after {
  background-image: url("images/blackPawn.png");
}

.white-pawn::after {
  background-image: url("images/whitePawn.png");
}

.black-rook::after {
  background-image: url("images/blackRook.png");
}

.black-queen::after {
  background-image: url("images/blackQueen.png");
}

.white-queen::after {
  background-image: url("images/whiteQueen.png");
}

.black-king::after {
  background-image: url("images/blackKing.png");
}

.black-bishop::after {
  background-image: url("images/blackBishop.png");
}

.white-bishop::after {
  background-image: url("images/whiteBishop.png");
}

.white-knight::after {
  background-image: url("images/whiteKnight.png");
}

.black-knight::after {
  background-image: url("images/blackKnight.png");
}

.white-rook::after {
  background-image: url("images/whiteRook.png");
}

.white-king::after {
  background-image: url("images/whiteKing.png");
}

/********************************/

/* large desktop screen */
@media screen and (max-width: 1550px) {

  .square {
    height: 72px;
    width: 72px;
    overflow: hidden;
  }

  .square::after {
    width: 72px;
    height: 72px;
  }

}

/* medium desktop screen */
@media screen and (max-width: 1180px) {

  .square {
    height: 64px;
    width: 64px;
    overflow: hidden;
  }

  .square::after {
    width: 64px;
    height: 64px;
  }

}

/* large tablet */
@media screen and (max-width: 1040px) {

  .square {
    height: 48px;
    width: 48px;
    overflow: hidden;
  }

  .square::after {
    width: 48px;
    height: 48px;
  }

}

/* small tablet */
@media screen and (max-width: 850px) {

  .board {
    /* min-width: 300px; */
    min-width: fit-content;
  }

  .square {
    height: 32px;
    width: 32px;
    overflow: hidden;
  }

  .square::after {
    width: 32px;
    height: 32px;
  }

}

/* large mobile phone */
@media screen and (max-width: 450px) {

  .board {
    /* min-width: 300px; */
    min-width: fit-content;
  }

  .square {
    height: 24px;
    width: 24px;
    overflow: hidden;
  }

  .square::after {
    width: 24px;
    height: 24px;
  }

}

/* small mobile phone */
@media screen and (max-width: 395px) {

  .board {
    /* min-width: 300px; */
    min-width: fit-content;
  }

  .square {
    height: 22px;
    width: 22px;
    overflow: hidden;
  }

  .square::after {
    width: 22px;
    height: 22px;
  }

}

/* small mobile phone */
@media screen and (max-width: 395px) {

  .board {
    /* min-width: 300px; */
    min-width: fit-content;
  }

  .square {
    height: 16px;
    width: 16px;
    overflow: hidden;
  }

  .square::after {
    width: 16px;
    height: 16px;
  }

}