body {
  background-color: rgb(59, 59, 59);
}

.game {
  display: grid;
  /* TODO: look up CSS grid tutorial */
}

@media (min-width: 768px) {
  .game {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.clock-panel {
  background-color: blue;
  min-height: 3em;
}

.board-panel {
  background-color: red;
}

.history-panel {
  background-color: green;
}

.promotion-button {
  border-width: 5px;
  background-color: rgb(129, 129, 129);
}

.board {
  font-size: 0;
  margin: 0;
}

.square {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.square::after {
  content: " ";
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.light-square {
  background-image: url("images/lightSquares.png");
}

.dark-square {
  background-image: url("images/darkSquares.png");
}

.light-square-selected {
  background-image: url("images/lightSquareSelected.png");
}

.dark-square-selected {
  background-image: url("images/darkSquareSelected.png");
}

.light-square-move {
  background-image: url("images/lightSquareMoves.png");
}

.dark-square-move {
  background-image: url("images/darkSquareMoves.png");
}





.black-pawn::after {
  background-image: url("images/blackPawn.png");
}

.white-pawn::after {
  background-image: url("images/whitePawn.png");
}

.black-rook::after {
  background-image: url("images/blackRook.png");
}

.black-queen::after {
  background-image: url("images/blackQueen.png");
}

.white-queen::after {
  background-image: url("images/whiteQueen.png");
}

.black-king::after {
  background-image: url("images/blackKing.png");
}

.black-bishop::after {
  background-image: url("images/blackBishop.png");
}

.white-bishop::after {
  background-image: url("images/whiteBishop.png");
}

.white-knight::after {
  background-image: url("images/whiteKnight.png");
}

.black-knight::after {
  background-image: url("images/blackKnight.png");
}

.white-rook::after {
  background-image: url("images/whiteRook.png");
}

.white-king::after {
  background-image: url("images/whiteKing.png");
}