.board {
  font-size: 0;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light-square {
  background-image: url("images/lightSquares.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}

.dark-square {
  background-image: url("images/darkSquares.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}