body {
  background-color: rgb(59, 59, 59);
}

.board {
  font-size: 0;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light-square {
  background-image: url("images/lightSquares.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}

.dark-square {
  background-image: url("images/darkSquares.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}

.light-square-selected,
.dark-square-selected {
  background-color: green;
  height: 96px;
  width: 96px;
  display: inline-block;
}

.light-square-move,
.dark-square-move {
  background-color: yellow;
  height: 96px;
  width: 96px;
  display: inline-block;
}

.black-pawn::after {
  content: url("images/blackPawn.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.white-pawn::after {
  content: url("images/whitePawn.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.black-rook::after {
  content: url("images/blackRook.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}

.black-queen::after {
  content: url("images/blackQueen.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}

.white-queen::after {
  content: url("images/whiteQueen.png");
  height: 96px;
  width: 96px;
  display: inline-block;
}

.black-king::after {
  content: url("images/blackKing.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.black-bishop::after {
  content: url("images/blackBishop.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.white-bishop::after {
  content: url("images/whiteBishop.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.white-knight::after {
  content: url("images/whiteKnight.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.black-knight::after {
  content: url("images/blackKnight.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.white-rook::after {
  content: url("images/whiteRook.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}

.white-king::after {
  content: url("images/whiteKing.png");
  /* background-image: url("blackPawn.png"); */
  height: 96px;
  width: 96px;
  display: inline-block;
}