.black .a1 {
  grid-area: cell-18;
}
.black .b1 {
  grid-area: cell-17;
}
.black .c1 {
  grid-area: cell-16;
}
.black .d1 {
  grid-area: cell-15;
}
.black .e1 {
  grid-area: cell-14;
}
.black .f1 {
  grid-area: cell-13;
}
.black .g1 {
  grid-area: cell-12;
}
.black .h1 {
  grid-area: cell-11;
}
.black .a2 {
  grid-area: cell-28;
}
.black .b2 {
  grid-area: cell-27;
}
.black .c2 {
  grid-area: cell-26;
}
.black .d2 {
  grid-area: cell-25;
}
.black .e2 {
  grid-area: cell-24;
}
.black .f2 {
  grid-area: cell-23;
}
.black .g2 {
  grid-area: cell-22;
}
.black .h2 {
  grid-area: cell-21;
}
.black .a3 {
  grid-area: cell-38;
}
.black .b3 {
  grid-area: cell-37;
}
.black .c3 {
  grid-area: cell-36;
}
.black .d3 {
  grid-area: cell-35;
}
.black .e3 {
  grid-area: cell-34;
}
.black .f3 {
  grid-area: cell-33;
}
.black .g3 {
  grid-area: cell-32;
}
.black .h3 {
  grid-area: cell-31;
}
.black .a4 {
  grid-area: cell-48;
}
.black .b4 {
  grid-area: cell-47;
}
.black .c4 {
  grid-area: cell-46;
}
.black .d4 {
  grid-area: cell-45;
}
.black .e4 {
  grid-area: cell-44;
}
.black .f4 {
  grid-area: cell-43;
}
.black .g4 {
  grid-area: cell-42;
}
.black .h4 {
  grid-area: cell-41;
}
.black .a5 {
  grid-area: cell-58;
}
.black .b5 {
  grid-area: cell-57;
}
.black .c5 {
  grid-area: cell-56;
}
.black .d5 {
  grid-area: cell-55;
}
.black .e5 {
  grid-area: cell-54;
}
.black .f5 {
  grid-area: cell-53;
}
.black .g5 {
  grid-area: cell-52;
}
.black .h5 {
  grid-area: cell-51;
}
.black .a6 {
  grid-area: cell-68;
}
.black .b6 {
  grid-area: cell-67;
}
.black .c6 {
  grid-area: cell-66;
}
.black .d6 {
  grid-area: cell-65;
}
.black .e6 {
  grid-area: cell-64;
}
.black .f6 {
  grid-area: cell-63;
}
.black .g6 {
  grid-area: cell-62;
}
.black .h6 {
  grid-area: cell-61;
}
.black .a7 {
  grid-area: cell-78;
}
.black .b7 {
  grid-area: cell-77;
}
.black .c7 {
  grid-area: cell-76;
}
.black .d7 {
  grid-area: cell-75;
}
.black .e7 {
  grid-area: cell-74;
}
.black .f7 {
  grid-area: cell-73;
}
.black .g7 {
  grid-area: cell-72;
}
.black .h7 {
  grid-area: cell-71;
}
.black .square.a8 {
  grid-area: cell-88;
}
.black .b8 {
  grid-area: cell-87;
}
.black .c8 {
  grid-area: cell-86;
}
.black .d8 {
  grid-area: cell-85;
}
.black .e8 {
  grid-area: cell-84;
}
.black .f8 {
  grid-area: cell-83;
}
.black .g8 {
  grid-area: cell-82;
}
.black .h8 {
  grid-area: cell-81;
}

.button:hover {
  background-color: rgb(45, 45, 45);
}

.button:active,
.button:focus {
  background-color: rgb(51, 51, 51);
}

.board-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "cell-11 cell-12 cell-13 cell-14 cell-15 cell-16 cell-17 cell-18" "cell-21 cell-22 cell-23 cell-24 cell-25 cell-26 cell-27 cell-28" "cell-31 cell-32 cell-33 cell-34 cell-35 cell-36 cell-37 cell-38" "cell-41 cell-42 cell-43 cell-44 cell-45 cell-46 cell-47 cell-48" "cell-51 cell-52 cell-53 cell-54 cell-55 cell-56 cell-57 cell-58" "cell-61 cell-62 cell-63 cell-64 cell-65 cell-66 cell-67 cell-68" "cell-71 cell-72 cell-73 cell-74 cell-75 cell-76 cell-77 cell-78" "cell-81 cell-82 cell-83 cell-84 cell-85 cell-86 cell-87 cell-88";
  width: 100%;
  max-width: 380vw;
}

.square {
  background-image: url("../images/darkSquares.png");
  padding-top: 100%;
  position: relative;
}

.square:nth-of-type(16n + 1),
.square:nth-of-type(16n + 3),
.square:nth-of-type(16n + 5),
.square:nth-of-type(16n + 7),
.square:nth-of-type(16n + 10),
.square:nth-of-type(16n + 12),
.square:nth-of-type(16n + 14),
.square:nth-of-type(16n + 16) {
  background-image: url("../images/lightSquares.png");
}

.square.selected {
  background-image: url("../images/darkSquareSelected.png");
  cursor: pointer;
}

.square.selected:nth-of-type(16n + 1),
.square.selected:nth-of-type(16n + 3),
.square.selected:nth-of-type(16n + 5),
.square.selected:nth-of-type(16n + 7),
.square.selected:nth-of-type(16n + 10),
.square.selected:nth-of-type(16n + 12),
.square.selected:nth-of-type(16n + 14),
.square.selected:nth-of-type(16n + 16) {
  background-image: url("../images/lightSquareSelected.png");
}

.square.move-option {
  background-image: url("../images/darkSquareMoves.png");
  cursor: pointer;
}

.square.move-option:nth-of-type(16n + 1),
.square.move-option:nth-of-type(16n + 3),
.square.move-option:nth-of-type(16n + 5),
.square.move-option:nth-of-type(16n + 7),
.square.move-option:nth-of-type(16n + 10),
.square.move-option:nth-of-type(16n + 12),
.square.move-option:nth-of-type(16n + 14),
.square.move-option:nth-of-type(16n + 16) {
  background-image: url("../images/lightSquareMoves.png");
  cursor: pointer;
}

@font-face {
  font-family: "G7 Segment7 S5";
  src: url("../G7Segment7S5.woff2") format("woff2"), url("../G7Segment7S5.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.clock {
  background-color: rgb(52, 52, 52);
  color: rgb(214, 214, 214);
  font-family: "G7 Segment7 S5";
  font-weight: normal;
  font-style: normal;
  font-size: 8vw;
  border-width: 0.1vw;
  border-color: rgb(52, 52, 52);
  border-style: solid;
  width: 38vw;
  text-align: center;
  cursor: default;
}

.clock div {
  margin: 0.2vw;
}

.clock-active {
  background-color: rgb(68, 68, 68);
  border-width: 0.1vw;
  border-color: rgb(68, 68, 68);
  border-style: solid;
  border-radius: 0.8vw;
}

.history-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-panel-item {
  border-radius: 0.8vw;
}

.history-panel-item:not(:last-of-type) {
  border-top-left-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.history-panel-item:not(:first-of-type) {
  border-bottom-left-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.result-old {
  background-color: rgb(46, 46, 56);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  border-color: rgb(66, 66, 81);
  border-width: 0.2vw;
  border-radius: 0.8vw;
  border-color: rgb(66, 66, 81);
  border-style: solid;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-old {
  background-color: rgb(46, 46, 56);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  border-color: rgb(66, 66, 81);
  border-width: 0.2vw;
  border-radius: 0.8vw;
  border-color: rgb(66, 66, 81);
  border-style: solid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
}

.result {
  background-color: rgb(52, 52, 52);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.history {
  background-color: rgb(52, 52, 52);
  color: rgb(214, 214, 214);
  padding: 0.3vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin-right: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  cursor: default;
}

.history-item {
  margin: 0.2em;
  display: block;
}
.history-item span {
  cursor: pointer;
}

.history-item span:hover {
  background-color: rgb(68, 68, 68);
}

.history-item span:active {
  background-color: rgb(74, 74, 74);
}

.selected-history-item {
  text-decoration: underline;
}

@media (max-aspect-ratio: 7/6) {
  .content {
    background-color: rgb(38, 38, 38);
  }
  .clock-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .clock {
    margin-bottom: 2vw;
    margin-top: 2vw;
    border-width: 0.2vw;
  }
  .clock:not(:last-of-type) {
    border-top-left-radius: 0.8vw;
    border-bottom-left-radius: 0.8vw;
  }
  .clock:not(:first-of-type) {
    border-left-width: 0;
    border-top-right-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
  }
  .result {
    width: 80%;
    margin-top: 4vw;
    font-size: 200%;
  }
  .history {
    width: 80%;
    font-size: 150%;
  }
}
@media (min-aspect-ratio: 7/6) {
  .content {
    background-color: rgb(38, 38, 38);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
  }
  .clock-panel {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clock {
    font-size: 4vw;
    border-width: 0.2vw;
    width: 20vw;
  }
  .clock:not(:last-of-type) {
    border-bottom-width: 0.1vw;
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
  }
  .clock:not(:first-of-type) {
    border-left-width: 0.2vw;
    border-top-width: 0.1vw;
    border-bottom-left-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
  }
}
.piece {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.black-rook {
  content: url("../images/blackRook.png");
}

.black-knight {
  content: url("../images/blackKnight.png");
}

.black-bishop {
  content: url("../images/blackBishop.png");
}

.black-queen {
  content: url("../images/blackQueen.png");
}

.black-king {
  content: url("../images/blackKing.png");
}

.black-pawn {
  content: url("../images/blackPawn.png");
}

.white-rook {
  content: url("../images/whiteRook.png");
}

.white-knight {
  content: url("../images/whiteKnight.png");
}

.white-bishop {
  content: url("../images/whiteBishop.png");
}

.white-queen {
  content: url("../images/whiteQueen.png");
}

.white-king {
  content: url("../images/whiteKing.png");
}

.white-pawn {
  content: url("../images/whitePawn.png");
}

html {
  height: 100%;
  background-color: rgb(38, 38, 38);
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-actions {
  padding-inline-start: 0;
}

.home-actions > li {
  list-style-type: none;
  padding: 1em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "left content right";
  background-image: radial-gradient(circle, rgb(57, 57, 57), rgb(38, 38, 38));
}

.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: content;
  background-color: rgb(38, 38, 38);
}

.profile-field-info {
  background-color: rgb(29, 29, 29);
  border-width: 0.2vw;
  border-color: rgb(29, 29, 29);
  border-style: solid;
  border-radius: 0.3vw;
  margin: 0.2vw;
  padding: 0.1vw;
  cursor: default;
  font-size: 0.8vw;
  color: rgb(214, 214, 214);
}

.profile-field {
  background-color: rgb(29, 29, 29);
  border-width: 0.2vw;
  border-color: rgb(29, 29, 29);
  border-style: solid;
  border-radius: 0.3vw;
  margin: 0.2vw;
  padding: 0.1vw;
  cursor: cursor;
  font-size: 0.8vw;
  color: rgb(214, 214, 214);
}

.profile-button {
  background-color: rgb(45, 45, 45);
  border-width: 0.2vw;
  border-color: rgb(45, 45, 45);
  border-style: solid;
  border-radius: 0.3vw;
  margin: 0.2vw;
  color: rgb(214, 214, 214);
  cursor: pointer;
  font-size: 0.8vw;
  box-shadow: 0 0.25vw rgb(29, 29, 29);
}

.profile-button:hover {
  background-color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
}

.profile-button:active,
.profile-button:focus {
  background-color: rgb(57, 57, 57);
  border-color: rgb(57, 57, 57);
  box-shadow: 0 0.15vw rgb(29, 29, 29);
}

.input-text {
  font-weight: 500;
}

.input-text-red {
  color: rgb(255, 80, 80);
  font-style: italic;
}

.error-message {
  color: red;
  font-size: xx-large;
}

.games-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  font-size: large;
  font-weight: bold;
}
.games-grid a,
.games-grid a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2vw;
  margin-bottom: 0.5vw;
  cursor: pointer;
  text-decoration: none;
  color: rgb(214, 214, 214);
  background-color: rgb(52, 52, 52);
  border-color: rgb(52, 52, 52);
}
.games-grid a.no-player,
.games-grid a:visited.no-player {
  color: rgb(255, 80, 80);
}
.games-grid .left {
  border-bottom-left-radius: 0.5vw;
  border-top-left-radius: 0.5vw;
  padding-left: 0.5vw;
}
.games-grid .right {
  border-bottom-right-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  padding-right: 0.5vw;
}

html {
  height: 100%;
  background-color: rgb(38, 38, 38);
  color: rgb(214, 214, 214);
}

body {
  margin: 0;
  height: 100%;
}

#root {
  margin: 0;
  height: 100%;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-rows: 75fr 925fr;
}

.banner {
  background-color: rgb(29, 29, 29);
  margin: 0;
  display: inline-flex;
}

.button {
  background-color: rgb(29, 29, 29);
  color: rgb(214, 214, 214);
  font-size: 200%;
  font-weight: bold;
  border-width: 0;
  padding: 0.5vw;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=App.css.map */
