name: Azure Static Web Apps CI/CD

on:
   push:
      branches:
         - main
# pull_request:
#    types: [opened, synchronize, reopened, closed]
#    branches:
#       - main

permissions:
   id-token: write # https://docs.github.com/en/actions/how-tos/secure-your-work/security-harden-deployments/oidc-in-azure
   contents: read
env:
   REGISTRY: ghcr.io
   IMAGE_NAME: ${{ github.repository }}-api

jobs:
   build_and_deploy_job:
      if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
      runs-on: ubuntu-latest
      name: Build and Deploy Job

      permissions:
         contents: read
         packages: write
         attestations: write
         id-token: write

      steps:
      -  name: 'Az CLI login'
         uses: azure/login@v2
         with:
            client-id: ${{ vars.ARM_CLIENT_ID }}
            tenant-id: ${{ vars.ARM_TENANT_ID }}
            # subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
            allow-no-subscriptions: true

      -  name: Log in to the Container registry
         uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
         with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      -  uses: actions/checkout@v3
         with:
            submodules: true
            lfs: false

      -  run: |
            export IMAGE_TAG=v${{ github.run_id }}
            echo "IMAGE_TAG=${IMAGE_TAG}" >> "${GITHUB_ENV}"
            echo "IMAGE_NAME=${IMAGE_NAME@L}:${IMAGE_TAG}" >> "${GITHUB_ENV}"
         name: Force repository and image to lowercase

      -  run: |
            set -e
            docker build . -f Dockerfile-api -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
         name: Docker build api

      -  run: |
            cd common
            npm install

            cd ../web
            npm install
            npm run build
         name: npm install and build

      -  run: |
            set -e
            az containerapp update -n chess-api -g chess-app --image ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
         name: Deploy API
         env:
            ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
            ARM_CLIENT_ID: ${{ vars.ARM_CLIENT_ID }}
            ARM_TENANT_ID: ${{ vars.ARM_TENANT_ID }}
   

      -  name: Build And Deploy
         id: builddeploy
         uses: Azure/static-web-apps-deploy@v1
         with:
            azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WITTY_BUSH_00130A703 }}
            repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
            action: "upload"
            ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
            # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
            app_location: "/web/" # App source code path
            app_build_command: "npm run build"
            api_location: "" # Api source code path - optional
            output_location: "dist" # Built app content directory - optional
            ###### End of Repository/Build Configurations ######

   close_pull_request_job:
      if: github.event_name == 'pull_request' && github.event.action == 'closed'
      runs-on: ubuntu-latest
      name: Close Pull Request Job
      steps:
      -  name: Close Pull Request
         id: closepullrequest
         uses: Azure/static-web-apps-deploy@v1
         with:
            azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WITTY_BUSH_00130A703 }}
            action: "close"
